.hero-image {
    background: url("../img/home/group.png");
}

.nav-logo {
    width: 60px;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 14px;
}

$primary-color: #176578;
$secondary-color: #009688;


.btn.btn-secondary {
    background: #009688;
    color: #fff;
}

.form-group .btn.btn-secondary {
    padding-left: 25px;
    padding-right: 25px;
}

@import "./node_modules/spectre.css/src/spectre";

body {
    background: #f3f3f3;
}

button.join-btn {
    margin-top: 64px;
    padding-left: 47px;
    padding-right: 47px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-85 {
    margin-top: 85px;
}


.text-tertiary {
    color: #003c36;
}

.bg-4 {
    background: #005a51;
    color: #fff;
}

.home-card {
    margin-top: 30px;
    height: 50px;
}

.home-card-txt {
    font-size: 14px;
    padding-top: 0px;
}

.card .card-body.home-card-txt-div {
    padding-top: 0px;
}

.pt-30 {
    padding-top: 30px;
}

.bg-white {
    background: #fff;
}

header.navbar-rect {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.card-title-survey {
    margin-bottom: 34px;
    margin-top: 26px;
}

.onboard-survey .form-group {
    margin-top: 55px;
}

.mentor-item {
    margin-left: 45px;
    margin-top: 30px;
}

.mentor-avatar {
    width: 125px;
}

.mentor-btns {
    padding: 30px;
}

.mentor-btns .btn {
    padding-left: 20px;
    padding-right: 20px;
}

.mentor-btns .btn.btn-secondary {
    margin-left: 24px;
}

.member-profile-photo {
    width: 195px;
}

.member-profile-banner {
    background: rgba(19, 158, 145, 0.25);
    padding-bottom: 0px;
}

.member-banner-title {
    padding-top: 90px;
    padding-bottom: 90px;
}

.member-banner-status {
    bottom: 0px;
}


.course-avatar {
    max-width: 107px;
}

.course-progress {
    color: #009688;
    height: 0.6rem;
}

.progress-div {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.course-list .column {
    padding-top: 1rem;
    margin-bottom: 1rem;
}

.course-list .column .btn {
    margin-top: 33px;
    padding-left: 15px;
    padding-right: 15px;
}

.course-title {
    margin-top: 70px;
}

.columns .course-info-card {
    margin-top: 64px;
}

.course-mentor {
    margin-top: 45px;
}

.course-card {
    margin-top: 40px;
}

.course-page .card-title {
    margin-left: 30px;
    margin-bottom: 0.8rem;
}

.course-page-sub {
    margin-top: 0px;
    margin-left: 30px;
}

img.course-status {
    max-width: 23px;
}

.course-task {
    margin-top: 14px;
    margin-bottom: 14px;
}

.view-resources {
    padding-top: 16px;
}

.job-pool {
    margin-top: 70px;
}

.job .columns {
    margin-top: 12px;
}

.match-div {
    margin-top: 20px;
}

.match-button {
    margin: 0 auto;
}

.job-checked {
    height: 14px;
}